---
---
<!doctype html>
<html lang="en">

<head>
    {% comment %}Google Tag Manager{% endcomment %}
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5CMWFZZ');
    </script>

    {% comment %}Required meta tags{% endcomment %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.isRedirect %}
    <meta http-equiv="refresh" content="1;url=/">
    {% endif %}

    {% include favicons.html %}

    {% comment %}
    Only let web crawlers index the production site. See https://blog.hubspot.com/marketing/robots-txt-file
    {% endcomment %}
    {% unless site.isProduction %}
    <meta name="robots" content="noindex">
    {% endunless %}

    {% comment %}Bootstrap CSS{% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link href="/shared-v2.css" rel="stylesheet">

    <title>{{ site.title }} | {{ page.title }}</title>

    <script src="/shared-v1.js"></script>
</head>

<body data-bs-theme="dark">
    {% comment %}Google Tag Manager (noscript){% endcomment %}
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CMWFZZ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>

    {{ content }}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>
</body>

</html>
