---
layout: default-with-footer
---
<header class="navbar sticky-top">
    <nav class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/index/derploid-logo-v2.png" class="d-inline-block" style="width: 64px; height:54px;"
            alt="Derploid logo. A big, smiling, derpy face with X-shaped eyes like chromosomes.">
            {{site.title}}
        </a>
    </nav>
</header>

<main class="flex-grow-1 d-flex flex-column justify-content-center">
    {{content}}
</main>
