##############################
# Copy this file to secret.test.env, then replace that file's placeholder values following comments below.
# You can also create secret.prod.env, but you should never deploy to production from a dev machine.
# Blank lines and lines that start with '#' (comments) are ignored. Do not put quotes around variable values.
##############################

# Copy from AWS Console > IAM user dropdown in top right > Account ID
DEPLOY_AWS_ACCOUNT=123456789012

# From ACM Console, a cert in us-east-1 with subject alternative names for all redirectHostedZoneIds
REDIRECT_TLS_CERTIFICATE_ARN=arn:aws:acm:us-east-1:<account>:certificate/<id>